.sidebar-header {
    background-color: white;
    color: black;
  }
  
  .sidebar-content {
    background-color: white;
    color: black;
  }
  
  .menu-item {
    background-color: white !important;
    color: black !important;
  }
  
  .submenu-item .pro-inner-list-item {
    background-color: white !important;
    color: black !important;
  }
  